img {
    height: 230px;
    width: 152px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(119,136,153);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 72px;
    font-family: Arial;
    text-align: center;
}

figcaption{
    font-family: Arial;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}
h2.one{
    font-size: 40px;
    text-align: center;
    border: 1px solid black;
    padding: 0em;
    margin:  0em;
    border-collapse: collapse;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    margin-right: 3em;
    margin-left: 3em;
    background-color: rgb(134,156,246);
}

p.one{
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    padding: 0em;
    margin:  0em;
    border-collapse: collapse;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    background-color: rgb(134,156,246);
    font-style: italic;
    margin-right: 6em;
    margin-left: 6em;
}
h2.two{
    font-size: 40px;
    text-align: center;
    border: 1px solid black;
    padding: 0em;
    margin:  0em;
    border-collapse: collapse;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    margin-right: 3em;
    margin-left: 3em;
    background-color: rgb(255,212,230);
}

p.two{
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    padding: 0em;
    margin:  0em;
    border-collapse: collapse;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    background-color: rgb(255,212,230);
    font-style: italic;
    margin-right: 6em;
    margin-left: 6em;
}

h2.three{
    font-size: 40px;
    text-align: center;
    border: 1px solid black;
    padding: 0em;
    margin:  0em;
    border-collapse: collapse;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    margin-right: 3em;
    margin-left: 3em;
    background-color: rgb(215,73,120);
}

p.three{
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    padding: 0em;
    margin:  0em;
    border-collapse: collapse;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    background-color: rgb(215,73,120);
    font-style: italic;
    margin-right: 6em;
    margin-left: 6em;
}
