

thead, p.pro {
    font-family: Arial;
    background-color: red;
    color: white;
}

.caption {
    font-family: Arial;
    letter-spacing: 2px;
    border-top-style: solid;
    border-top-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: grey;
    

}

table {
    border-collapse: collapse;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    width: 500px;
}

.tokat {
    background-color: rgb(204,192,192);
}
th, td {
    width: 400px;
}
.propertyt{
    border-right: 1px solid grey;
}


