body {
    font-family: Arial, Verdana, sans-serif;
    background-color: rgb(20,50,10);
}

h1, h2 {
    color: red;
    font-weight: bold;
    font-size: 1.0em;
}

ul, ol {
    text-indent: 40px;
    border: solid;
    border-color: black;
    color: rgba(128,128,128,0.9);
    font-size: 0.8em;
}

p {
    text-indent: 20px;
}

figure {
    font-weight: bold;
    caption-side: top;
}
.copyright_notice {
    font-size: 0.8em;
}

.code_example {
    font-family: times-new-roman;
    margin: 0px;
}
p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}